<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Birthday range probability</title>
</head>
<body>
<form action="/" method="post">
    <label for="days">Days:
        <input id="days" name="days" type="text">
    </label>
    <br>
    <label for="people">People:
        <input id="people" name="people" type="text">
    </label>
    <br>
    <label for="range">Range:
        <input id="range" name="range" type="text">
    </label>
    <br>
    <input type="submit" value="Submit">
</form>
<p></p>
</body>
</html>